{erl_opts, [debug_info]}.
{deps, [yamerl,mochiweb,vice]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [distFlow,yamerl]}
]}.

{relx, [
    {release, {distFlow, "0.0.1"}, [distFlow,mochiweb,sasl,yamerl]},
    {dev_mode, true},
    {include_erts, true},
    {include_src,true},
    {system_libs, true},
    {extended_start_script, true},
    {sys_config, "config/dev.config"},
    {vm_args, "config/vm.args"},
    {overlay,[
        {copy,"config/logger.config","releases/{{release_version}}/logger.config"}
    ]}
]}.



{profiles, [
    {dev1,
        [{relx, [
            {sys_config, "config/dev1.config"},
            {vm_args, "config/dev1.args"}
        ]}]},
    {dev2, [{relx, [
        {sys_config, "config/dev2.config"},
        {vm_args, "config/dev2.args"}
    ]}]},
    {dev3, [{relx, [
        {sys_config, "config/dev3.config"},
        {vm_args, "config/dev3.args"}
    ]}]}
]}.
