[
  { flow },
  {kernel, [
    % logger formatters
    {logger, [
      {handler, default, logger_std_h,
        #{level => info, % change level of the logger here
          formatter => {logger_formatter, #{single_line => false, max_size => 2048}},
          config => #{type => standard_io}}}
    ]},

    % main level for all loggers
    {logger_level, info},

    % need to fix distributed Erlang port for use with Docker
    {inet_dist_listen_min, 9110},
    {inet_dist_listen_max, 9110}
  ]}
].
